.main {
  display: grid;
  justify-items: center;
  align-items: center;
  margin: 0;
  gap: 40px;
}

.headerPic {
  width: 100vw;
  box-sizing: content-box;
  margin: 0;
  z-index: -1;
}
.aboutPortrait {
  width: 400%;
  box-sizing: content-box;
  margin: 0;
  align-self: center;
}

.aboutText {
  display: flex;
  justify-content: right;
  width: 80vw;
  gap: 80px;
  font-size: 1.1rem;
  line-height: 25px;
  margin-bottom: 50px;
}

