.container {
  max-width: 100vw;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 60px;
}

.main {
  width: 60vw;
  max-width: 600px;
  min-width: 400px;
  z-index: 0;
  margin: 0 auto;
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  justify-content: center;
}

.contactForm {
  background-color: rgba(0, 2, 5, .95);
  background: linear-gradient(135deg, hsla(0, 0%, 0%, 1) 50%, hsla(246, 19%, 44%, 1) 100%);
  /* border: solid 3px rgb(206, 254, 254); */
  padding: 30px 40px 30px 40px;
  position: relative;
  width: 92%;
  display: flex;
  flex-direction: column;
  gap: 35px;
  border-radius: 5px;
}


.label {
  color: rgb(41, 35, 71);
  font-size: 1.1rem;
  color: white;
  
}

.input {
  padding: 10px 10px;
  width: 100%;
  border-radius: 2px;
  margin-top: 5px;
  border: 1px green solid;
  color: rgb(22, 30, 61);
  background-color: rgba(245, 245, 245, 0.8);
}

.input:focus {
  background-color: #fafafa;
  outline: none;
  border: 1px rgb(233, 197, 119) solid;
}

.submitBtn {
  background-color: rgba(255, 255, 255, 0.827);
  color: black;
  border: none;
  padding: 10px 40px;
  transition: background 0.35s ease;
}

.submitBtn:hover {
  background: white;
}

.submitDiv {
  display: flex;
  justify-content: flex-end;
}