.main {
  display: grid;
  justify-items: center;
  align-items: center;
  margin: 0;
  gap: 40px;
  background-image: url(../public/pond.png);
  background-size: cover;

}

.contactContainer {
  margin-top: 20vh;
}