.footer {
  height: auto;
  width: 100vw;
  padding-right: 50px;
  padding-top: 15px;
  background: rgb(210, 209, 209);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  
}

.footer > p {
  margin-top: 5px;
}