.container {
  z-index: -2;
  
  display: flex;
  align-items: center;
}

.imageContainer > * {
  z-index: -1;
  box-sizing: content-box;
  object-position: 50% 50%;
}
.imageContainer {
  width: 80vw;
  z-index: 1;

}

.buttonContainer {
  width: 10vw;
  z-index: 2;
}

.button {
  background-color: transparent;
  position: absolute;
  border: none;
  margin: 0;
  border-radius: 5px;
  height: 100px;
  transition: height .2s;
  z-index: 5;

}

.nextButton {
  margin-left: 70vw;
}

.prevButton {
  margin-left:10vw;
}

.button > img:hover {
  height: 100px;
}


